header {
  z-index: 0;
  width: 100%;
}
.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.cartImg {
  display: flex;

  div {
    background-color: beige;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.4rem;
    height: 4rem;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 50%;
  }
}

@include estiloMenuCompra(
  "#bottomMenu__toggle",
  ".menu__btn",
  ".bottomMenu__box"
);
.bottomMenu {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 7rem;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  /* background-color: black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .openIcon {
    width: 2rem;
  }
  .bottomMenu__box {
    .fixedCabecera {
      z-index: 2;
      position: absolute;

      .cabecera {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        //left: 37%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #f9f9f9;
        width: 100%;
        h1 {
          @include fuenteSemiBold;
          font-size: 1.2rem;
        }
        img {
          width: 1.8rem;
          rotate: 180deg;
          right: 1rem;
          position: fixed;
        }
      }
    }
    .cartProduct {
      right: 0rem;
      padding-top: 7rem;
      .options {
        .prodOptions {
          flex-wrap: wrap;
          .optionContainer {
            display: flex;
            justify-content: center;
          }
        }
        .precioProd {
          .precio {
            right: 1rem;
          }
        }
        .carrPSec1 img {
          right: 1rem;
        }
      }
    }
  }
}
.pasarelaOptions {
  padding-top: 7rem;
  padding-bottom: 9rem;

  .options {
  }
  @include fuenteSemiBold;
  ul {
    margin: 0;
    padding: 0;
    .directionData {
      .boldP {
        @include fuenteSemiBold;
      }
      display: flex;
      flex-direction: column;
      .parentInfoContainer {
        display: flex;
        flex-direction: column;
        .infoContainer {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    li {
      @include fuenteRegular;
      display: flex;
      img {
        width: 2.5rem;
      }
      padding: 2rem;
      margin: 1rem;
      width: 30rem;
      align-items: center;
      justify-content: center;
      border: 1px solid #dadada;
      border-radius: 10px;
      list-style: none;
    }
  }
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  list-style: none;
}
.pasarelaMain {
  display: flex;
  min-height: 129vh;
  //min-height: 100vh;
}

.cartInfo {
  @include fuenteSemiBold;
  background-color: #f9f9f9;
  width: 30%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  right: 0rem;
  cartInfoProducts {
    overflow: scroll;
  }
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  h1 {
    display: flex;
    justify-content: center;
  }
  .optionBox {
  }
  .cartProduct {
    right: 0rem;
    .options {
      .carrPSec1 {
        img {
          right: 0rem;
        }
      }
    }
  }
  .options {
    img,
    p {
      right: 1rem;
    }
    .precioProd {
      .precio {
        right: 1rem;
      }
    }
    right: 0rem;
    .prodOptions {
      flex-wrap: wrap;

      .optionContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 843px) and (max-width: 1123px) {
  .pasarelaOptions {
    width: 60%;
    ul {
      li {
        width: 83%;
      }
    }
  }
  .cartInfo {
    width: 40%;
  }
}

@media (min-width: 844px) {
  .bottomMenu {
    display: none;
  }
}

@media (max-width: 843px) {
  .pasarelaOptions {
    width: 100%;
  }
  .cartInfo {
    display: none;
  }
}
@media (max-width: 581px) {
  .pasarelaOptions {
    .options {
      li {
        width: 16rem;
      }
    }
  }
}
@media (max-width: 460px) {
  .pasarelaMain {
    .pasarelaOptions {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        li {
          width: 71%;
          padding: 1rem;
          .updateData {
            .secTitle {
              font-size: 1rem;
              text-align: center;
            }
          }
        }
      }
      .directionData {
        width: 71%;
        padding: 1rem;
        img {
          width: 2rem;
        }
        h1 {
          font-size: 0.8rem;
          padding-bottom: 1rem;
        }
        .parentInfoContainer {
          align-items: center;
          text-align: center;
          .infoContainer {
            flex-direction: column;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
          }
        }
      }
      .options {
        .optionBox {
          width: 71%;
          padding: 1rem;
          img {
            width: 2rem;
          }
          h1 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
