body {
  display: flex;
  flex-direction: column;
}

.contenedorLi {
  width: 3.5rem;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}
@media (max-width: 400px) {
  .contenedorLi {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0rem;
  list-style: none;
  li {
    cursor: pointer;

    @include fuenteSemiBold;
    margin: 1rem;
  }
}
.liSeleccionado {
  color: aliceblue;
  background-color: black;

  //font-size: 2rem;
}
