.loadingUserInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}
.showAccountInfo {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  display: flex;
  width: 70%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .colorButton {
    background-color: white;
    p {
      color: #242424;
    }
    transition: 0.4s;
    border-radius: 1px solid #242424;
  }
  .colorButton:hover {
    background-color: #242424;
    scale: (1.03);
    p {
      color: white;
    }
    border-radius: 1px solid #242424;
  }
}
@media (max-width: 899px) {
  .showAccountInfo {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .selectedMenu {
    .updateData {
      .infoPanel {
        width: 21rem;
      }
    }
  }
  .showAccountInfo {
    .putDataSubmit {
      width: 21rem;
    }
    .saveDataButton {
      width: 21rem;
    }
  }
}
@media (max-width: 460px) {
  .selectedMenu {
    .updateData {
      h1,
      h2 {
        font-size: 1rem;
      }
      .infoPanel {
        width: 15rem;
      }
    }
  }

  .showAccountInfo {
    .putDataSubmit {
      width: 16rem;
      font-size: 0.9rem;
    }
    .saveDataButton {
      width: 16rem;
      p {
        font-size: 0.9rem;
      }
    }
  }
}
.saveDataButton {
  width: 30rem;
  margin-bottom: 1rem;
}
.selectedMenu {
  @include fuenteSemiBold;

  //width: 70%;
  padding-top: 10rem;
}
section {
  display: flex;
}
