.deleteImg {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 100%;

  transition: transform 0.2s;
  cursor: pointer;
  img {
    padding: 0rem;
    width: 1.4rem;
  }
}
.deleteImg:hover {
  transform: scale(1.1);
}

.contenedorImagenes {
  .comentariosSec {
    align-items: center;
    margin-top: 1.4rem;
    padding-bottom: 1rem;

    h2 {
      padding-bottom: 2.5rem;
    }
    .commentContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.secColor {
  @include fuenteSemiBold;
  @include flexInputDpNone;
  border: 2px solid #dee5ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #dee5ff;
  display: block;
  max-width: 18.7rem;
  background: #fff;
  color: #262e47;
  font-weight: bold;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  margin-bottom: 2rem;
  margin-top: 0rem;

  .colorDiv {
    width: 100%;
  }
  div {
    margin-bottom: 1rem;
  }
}
.labelColorButton {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  span {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease 0.3s;
  }
  span:hover {
    padding: 10px;
  }
  input:checked + span {
    position: absolute;
    padding: 7px;

    top: 50%;
    left: 50%;
    border: 1px solid black;
  }
  input:checked + button {
    background-color: #e7e7e7;
  }
}
.hide {
  display: none;
}

.productActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  left: -0.5rem;
}
@media (max-width: 635px) {
  .productActions {
    .colorBoton {
      margin-right: 0rem;
    }
    left: 0rem;
    justify-content: center;
  }
}
.outsideClick {
  position: absolute;
  width: 100%;
  background-color: #6e7272;
  opacity: 0.6;
  height: 191%;
  top: 0;
  z-index: 1;
}
body {
  display: flex;
  flex-direction: column;
  main {
    width: 100%;
    padding-top: 18rem;
    margin-bottom: 10rem;
  }
  .colorBoton {
    @include loginButton("green", "white", "2rem");
    height: 1rem;
    width: 15rem;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.1s;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .colorBoton:hover {
    transform: scale(1.1);
  }
  .descripcionProd {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include fuenteBold;
    h2 {
      font-size: 2rem;
      padding-bottom: 4rem;
    }
    p {
      font-size: 1.6rem;
      @include fuenteRegular;
    }
  }
  .presentacionProd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 6rem;
    .secColor {
      border-radius: 15px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: rgb(246, 246, 246);
      border: 0px;
    }
    .dropdown {
      .dropdown--label {
        .dropdown--text {
          border-radius: 15px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          background-color: rgb(246, 246, 246);
          border: 0px;
        }
      }
    }
  }

  .dropdown {
    @include dropdownList;
  }

  .bodyStyle {
    overflow: hidden;
  }
  @include popUpModal("#popMenu__toggle", ".menu__btn", ".popMenu__box");
  @media (max-width: 400px) {
    #popMenu__toggle:checked ~ .popMenu__box {
      width: 82%;
      .modalImg {
        padding-bottom: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .popMenu__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    //padding: 12px 24px;
    //margin-top: 0.5rem;
  }
  .textoPlano {
    margin-left: 9%;
    margin-right: 9%;
    @include fuenteSemiBold;
    color: #95a3a4;
    font-size: 1.2rem;
  }
  .textoPlanoFino {
    @include fuenteSemiBold;
    color: black;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .textoGrueso {
    margin-left: 9%;
    margin-right: 9%;
    @include fuenteSemiBold;
    color: black;
    font-size: 1.8rem;
  }
  .textoGruesoh1 {
    margin-left: 9%;
    margin-right: 9%;
    @include fuenteSemiBold;
    color: black;
    font-size: 1.3rem;
    text-align: center;
  }

  .productDiv {
    min-width: 20rem;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    // width: 320px;
    height: 488px;
    background-color: beige;
    border-radius: 18px;
    margin: 3rem;
    img {
      width: 15rem;
    }
  }
  @media (max-width: 560px) {
    .productDiv {
      min-width: 17rem;
      height: 17rem;
      img {
        width: 11rem;
        height: auto;
      }
    }
  }
  .productoInfo1 {
    width: 30%;
    padding-left: 6rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    @include fuenteSemiBold;
    //z-index: -1;
    h2,
    ul {
      padding-bottom: 1.5rem;
    }

    /*
      position: relative;
      right: 29vw;
      */
  }
  @media (max-width: 500px) {
    .presentacionProd {
      .productoInfo1 {
        width: 80%;
        display: flex;
        align-items: center;
        .secColor {
          display: flex;
          margin: 0 auto;
          width: 15rem;
          margin-bottom: 2rem;
        }
        .dropdown {
          .dropdown--label {
            display: flex;
            margin: 0 auto;
            justify-content: center;
          }
          .dropdown--text {
            width: 15rem;
          }
          .dropdown--list {
            width: 15rem;
            left: 1.8rem;
          }
        }
      }
    }
  }
  .spinner {
    display: flex;
    margin: 0 auto;
  }
}

.descripcionProd {
  .comentarioContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.2rem;
    margin: 0.4rem;
    background-color: #f9f9f9;
    border: none;
    /* height: 1rem; */
    padding-top: 1.7rem;
    border-bottom: 1px solid #c8c8c8;
    transition: 0.07s;
    font-size: 0.9rem;
    border-radius: 4px;
    .cabeceraPost {
      label {
        font-size: 1.2rem;
        padding-bottom: 1rem;
      }
      display: flex;
      flex-direction: column;
      .puntuacion {
        padding-top: 0rem;
        padding-left: 0rem;
      }
    }
    .postContent {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      .typeSubmit {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        max-width: 8rem;
        border-radius: 4px;
      }
    }
    .cabeceraComentario {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    h1 {
      @include fuenteBold;
    }
    p {
      margin-top: 2rem;
      padding-bottom: 1.8rem;
      font-size: 1.2rem;
    }
    h1,
    p {
      padding-left: 1rem;
    }
    textArea {
      background-color: #ececec;
      border-radius: 3px;
      width: 100%;
      outline: none;
      border: none;
      resize: none;
      font-size: 1rem;
      @include fuenteRegular;
    }
    .puntuacion {
      padding-left: 1rem;
      padding-top: 1rem;
      display: flex;
      img {
        cursor: pointer;

        width: 2rem;
      }
    }
  }
}

@media (max-width: 800px) {
  body {
    main {
      padding-top: 8em;
    }
    .colorBoton {
      width: 100%;
    }
    .productoInfo1 {
      width: auto;
      padding-left: 0rem;
      padding-top: 0rem;
      h2 {
        text-align: center;
      }
    }
    .descripcionProd {
      h2 {
        text-align: center;
        font-size: 1.8em;
        padding-bottom: 4rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }
}
@media (max-width: 500px) {
  body {
    .cabeceraComentario {
      h1 {
        font-size: 1rem;
      }
      .deleteImg {
        margin-right: 0rem;
        width: 2rem;
        height: 2rem;
        img {
          width: 1rem;
        }
      }
    }
  }
}
#popMenu__toggle {
  display: none;
}
