ul {
  list-style-type: none;
}

.sepVerticalBlack {
  display: flex;
  justify-items: center;
  padding: 1px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  color: black;
  width: 0.1rem;
  justify-content: center;
}

.sepVertical {
  display: flex;
  justify-items: center;
  padding: 1px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  color: #95a3a4;
  width: 0.3rem;
  background-color: #95a3a4;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.separador {
  border-top: 1px solid #dadada;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.separadorNoMargin {
  border-top: 1px solid #dadada;
  height: 2px;
  padding: 0;
}
.secFoot1 {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
  flex-wrap: wrap;
  h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5rem;
  }
  img {
    width: 4rem;
  }

  .help {
    li {
      margin-top: 0.5rem;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 600;
      color: #95a3a4;
      font-size: 1.2rem;
    }
  }
  .socialDiv {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 2rem;
    }
  }
  .paymentDiv {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 2rem;
    }
  }
  .payment2 {
    margin-top: 0.1rem;
  }
}

.secFoot2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  @include fuenteSemiBold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  ul {
    display: flex;
    align-items: center;

    li {
      margin: 1rem;
    }
  }
  .pageLang {
    display: flex;
    align-items: center;
    justify-content: center;
    p,
    div {
      margin: 0.3rem;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
@media (max-width: 634px) {
  .secFoot2 {
    ul {
      padding: 0rem;
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 599px) {
  .secFoot1 {
    h1 {
      font-size: 1.3rem;
    }
    .help {
      width: 80%;
      text-align: center;
      margin-bottom: 2rem;
    }
    .social {
      h1 {
        text-align: center;
      }
      margin-bottom: 2rem;
      .socialDiv {
        li {
          padding-right: 0rem;
          margin: 0.3rem;
        }
      }
    }

    .payment {
      text-align: center;
      .paymentDiv {
        justify-content: center;
      }
      li {
        padding-right: 0rem;
        margin: 0.3rem;
      }
    }
    ul {
      padding: 0rem;
    }
  }
}
