@mixin carrito() {
  z-index: 2;
  background-color: #242424;
  border-radius: 100%;
  width: 1.3rem;
  display: flex;
  height: 1.3rem;
  justify-content: center;
  align-items: center;
  /*
    position: relative;
    bottom: 3rem;
    left: 2.8rem;
    */

  position: absolute;
  bottom: 2rem;
  left: 1.6rem;
  /*    top: 0;
      right: 0;
  */
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
  p {
    @include fuenteSemiBold;
    color: white;
  }
}

.totalprice {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .totalPrice {
    margin-top: 3rem;
  }
  .CarritoMenu__box .contenidoCarrito .cartProduct {
    padding-bottom: 1.8rem;
  }
}
.cartWithNumber {
  position: relative;
  .carritoNumber {
    @include carrito();
  }
  .carritoNumberDark {
    @include carrito();
  }
  @media (max-width: 638px) {
    .carritoNumber,
    .carritoNumberDark {
      background-color: transparent;
      box-shadow: none;
      bottom: 2px;
      left: 2px;
    }
    .carritoNumberDark {
      p {
        color: #242424;
      }
    }
    .carritoNumber {
      p {
        color: white;
      }
    }
  }
}
.minusQuantity {
  width: 0.9rem;
  height: 0.9rem;
}

.quantityOptions {
  background-color: black;
  height: 0.1rem;
  width: 0.6rem;
  cursor: pointer;
}

.spanHeight {
  width: 4rem;
  height: 0.6rem;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.colorBoton {
  @include loginButton("green", "white", "2rem");
  height: 1rem;
  width: 15rem;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s;
}
.colorBoton:hover {
  transform: scale(1.1);
}
.totalPrice {
  display: flex;
  flex-direction: column;
  .total {
    @include fuenteBold;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
  }
  .precio {
    @include fuenteSemiBold;
    color: #95a3a4;
    font-size: 1.1rem;
    padding-top: 0.5rem;
    display: flex;
    padding-bottom: 0.5rem;
  }
}
.mgBottom {
  margin-bottom: 2rem;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  top: -1rem;
}

.cartProduct {
  display: flex;
  position: relative;
  right: 3rem;
  align-items: center;
  .imgContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    height: 200px;
    background-color: beige;
    border-radius: 18px;
    margin: 2rem 1.2rem 2rem;
    cursor: pointer;
    img {
      width: 6rem;
      height: auto;
      /*
        width: 10rem;
        height: 6rem;
        */
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    .carrPSec1 {
      display: flex;
      p {
        @include fuenteSemiBold;
      }
      img {
        position: absolute;
        right: -4rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .prodOptions {
      display: flex;
      flex-wrap: wrap;
      //flex-wrap: wrap;
      padding-top: 3em;
      padding-bottom: 3rem;
      .optionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        @include fuenteSemiBold;
        height: 1.5rem;
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
        width: 5rem;
        border: 1.8px solid black;
        margin: 0.2rem;
      }
    }
    .precioProd {
      @include fuenteSemiBold;
      .precio {
        position: absolute;
        right: -4rem;
        height: 1.5rem;
      }
    }
  }
}

@media (min-width: 1175px) and (max-width: 1600px) {
  .cartProduct {
    right: 0.5rem;
    .options {
      .carrPSec1 {
        img {
          right: -1rem;
        }
      }
      .precioProd {
        .precio {
          right: -1rem;
        }
      }
    }
  }
}
@media (min-width: 755px) and (max-width: 1174px) {
  .cartProduct {
    right: 0.5rem;

    .imgContainer {
      img {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .options {
      .carrPSec1 {
        p {
          width: 58%;
        }
        img {
          right: -1rem;
        }
      }
      .prodOptions {
        flex-wrap: wrap;
        padding-top: 1em;
        padding-bottom: 0.3rem;
      }
      .precioProd {
        .precio {
          right: -1rem;
        }
      }
    }
  }
}

.grupoFlex {
  flex-direction: row;
}
.marcador {
  width: 115%;
  height: 1px;
  border: 1px solid black;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.cabeceraMenu {
  display: flex;
  width: 100%;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 10%;
    bottom: 1%;
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
}

@media (max-width: 400px) {
  .CarritoMenu__box {
    .cabeceraMenu {
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
      .marcador {
        width: 100%;
      }
    }
  }
}
.textoP {
  font-size: 2rem;
  @include fuenteSemiBold;
}
#checkedBusqueda {
  display: none;
}
.searchMenu {
  cursor: pointer;
}
.seeProductsButton {
  padding-top: 5rem;
  margin-top: 2rem;
  width: 18rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.bodyStyle {
  overflow: hidden;
}
@include carritoMenuDerecho(
  "#CarritoMenu__toggle",
  ".menu__btn",
  ".CarritoMenu__box"
);

.TopMenu__item {
  padding: 12px 24px;
  margin-top: 0.5rem;
}
.textoPlano {
  margin-left: 9%;
  margin-right: 9%;
  @include fuenteSemiBold;
  color: #95a3a4;
  font-size: 1.2rem;
}
.textoPlanoFino {
  @include fuenteSemiBold;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.textoGrueso {
  margin-left: 9%;
  margin-right: 9%;
  @include fuenteSemiBold;
  color: black;
  font-size: 1.8rem;
}
.textoGruesoh1 {
  margin-left: 9%;
  margin-right: 9%;
  @include fuenteSemiBold;
  color: black;
  font-size: 1.3rem;
  text-align: center;
}
#cartCheck,
#likeCheck {
  z-index: 1;
  width: 1rem;
  position: relative;
  right: -1rem;
  opacity: 0;
  label {
    background-color: grey;
  }
}
.contenidoCarrito {
  display: flex;
  padding-top: 5rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;

  label {
    width: 60%;
    text-align: left;
  }
}
.labelUnchecked {
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #95a3a4;
  border: 2px solid black;
  opacity: 0.6;
  img {
    padding-right: 2rem;
  }
  @include fuenteSemiBold;
}
.labelCarrito {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  img {
    padding-right: 2rem;
  }
  @include fuenteSemiBold;
}
.closeDiv {
  display: flex;
  width: 20%;
  justify-content: center;
}
@media (min-width: 900px) and (max-width: 1430px) {
  .menu__box {
    width: 31%;
  }
  #menu__toggle:checked ~ .CarritoMenu__box .greyContainer {
    left: 31% !important;
  }
}

@media (max-width: 330px) {
  .CarritoMenu__box {
    .contenidoCarrito {
      .totalPrice {
        .total {
          width: 90%;
        }
        padding-left: 2rem;
      }
      .cartProduct {
        padding-left: 1rem;
        .options {
          .carrPSec1 {
            img {
              right: -1.6rem;
              //right: -3rem;
            }
          }
          .precioProd {
            .precio {
              right: -1.6rem;

              //right: -3rem;
            }
          }
        }
      }
    }
  }
  .cartProduct .options .carrPSec1 {
    right: -3rem;
  }
  .cartProduct .options .precioProd .precio {
    right: -3rem;
  }
}
@media (max-width: 545px) {
  .CarritoMenu__box {
    .contenidoCarrito {
      .cartProduct {
        .imgContainer {
          margin-left: 2.4rem;
          img {
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .CarritoMenu__box {
    width: 50%;
  }

  #CarritoMenu__toggle:checked ~ .CarritoMenu__box .greyContainer {
    left: -10% !important;
  }
}

@media (max-width: 754px) {
  .itemsBox {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      position: relative;
      right: auto;
      margin: 1rem;
    }
  }

  .CarritoMenu__box {
    width: 100%;
  }
  .greyContainer {
    display: none;
  }
}
