$baseColor: white;
$secondColor: black;

.bodyStyle {
  overflow: hidden;
}

@include estiloMenus("#menu__toggle", ".menu__btn", ".menu__box");

//ESTA CLASE SOLO PONDRA EL SPAN NEGRO CUANDO TENGAMOS EL HEADER SECUNDARIO DEL MENU ABIERTO
.blackSpan {
  span,
  span::before,
  span::after {
    background-color: black;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
@media (min-width: 900px) and (max-width: 1430px) {
  .menu__box {
    width: 31%;
  }
  #menu__toggle:checked ~ .menu__box .greyContainer {
    left: 31% !important;
  }
}
@media (min-width: 701px) and (max-width: 899px) {
  .menu__box {
    width: 50%;
  }
  #menu__toggle:checked ~ .menu__box .greyContainer {
    left: 50% !important;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .itemsBox {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      position: relative;
      right: auto;
      margin: 1rem;
    }
  }

  .menu__box {
    width: 100%;
  }
  .greyContainer {
    display: none;
  }
}
