header {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
  width: 100%;
  .menu {
    margin-left: 2rem;
  }
  .searchHeaderContainer {
    display: flex;
    margin-right: 2rem;
    marker: none;
    div {
      padding: 0.4rem;
    }
  }
  background-color: transparent;

  display: flex;

  .logo {
    width: 14rem;
    height: 2rem;
  }

  @media (max-width: 640px) {
    .logo {
      position: initial;
      width: 10rem;
      height: 1.5rem;
      padding-left: 1rem;
    }
    header {
      .searchHeaderContainer {
        img {
          width: 1.7rem;
          height: 1.7rem;
        }
      }
    }
  }

  @media (max-width: 410px) {
    .searchHeaderClass {
      .logo {
        width: 8rem;
        height: 1.2rem;
        padding-left: 0.4rem;
      }
    }
  }
  @media (max-width: 950px) {
    header {
      .menu {
        display: none;
      }
      .logo {
        padding-left: 3rem;
      }
    }
  }
}
