.alertText {
  @include fuenteRegular;
  font-size: 1.2em;
  color: red;
  padding-top: 1.2em;
  text-align: center;
}
.loginSubmit {
  input[type="password"],
  input[type="password"]:focus,
  input[type="text"],
  input[type="password"]:focus {
    margin-bottom: 2rem;
  }

  @include loginButton("black", "white", 3rem);
  width: 20rem;
  height: 3rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.colorBtnSoc {
  background-color: #dadada;
  border: 1px white;
  p {
    color: black;
  }
}
.pDescrip {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
  color: black;
  @include fuenteRegular;
  padding-bottom: 2rem;
}
.loginWindow {
  @include formWindow;
}
@media (max-width: 800px) {
  .genericButton {
    width: 17rem;
    p {
      font-size: 1rem;
      text-align: center;
    }
  }
  .loginSubmit {
    width: 17rem;
    font-size: 1.4rem;
  }
  .loginWindow {
    h1 {
      text-align: center;
      font-size: 1.3rem;
      width: 99%;
    }
  }
  .pDescrip {
    font-size: 1.1em;
  }
}
@media (max-width: 600px) {
  .loginWindow h1 {
    font-size: 1.3rem;
  }
  .loginWindow {
    .passwordInputFlex {
      width: 14rem;
      #loginInput {
        width: 11.7rem;
        right: 0rem;
      }
      img {
        right: 3rem;
      }
    }
    .loginSubmit {
      width: 14rem;
      font-size: 1.2rem;
    }
    .genericButton {
      width: 14rem;
      p {
        font-size: 0.9rem;
        width: 9rem;
        text-align: center;
      }
    }
  }
}
