.notFound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 12rem;
  flex-direction: column;
  h1 {
    @include fuenteSemiBold;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
  }
  img {
    padding-bottom: 6rem;
    width: 8rem;
  }
}
@media (max-width: 440px) {
  .notFound {
    margin-top: 0rem;
    h1 {
      font-size: 1.4rem;
    }
    img {
      width: 5rem;
    }
  }
}
.saleContainer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 3rem;
  margin-bottom: 1rem;
  p {
    @include fuenteBold;
    color: white;
  }
  /* border: 10px solid; */
  border-radius: 16px;
  background-color: #d74242;
}
.emptyContainer {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
  width: 70%;
  height: 3rem;
}

main {
  width: 100%;
  padding-top: 9rem;
  margin-bottom: 4rem;
}
.contenedorImagenes {
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  align-items: flex-start;
  justify-content: center;
}

//Para monitores Ultrawide como el mio, no es para el despliegue final

@media (min-width: 1921px) {
  .contenedorImagenes {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

.redH2 {
  color: #d74242;
}
.prodContainer {
  transition: 0.5s;
  padding-bottom: 9rem;
  .productDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    height: 488px;
    transition: 0.5s;
    background-color: beige;
    border-radius: 18px;
    margin: 3rem 3rem 1rem;
    cursor: pointer;
    img {
      width: 15rem;
    }
    .productoInfo1 {
      position: relative;
      right: 29vw;
    }
    .salesParenCont {
      margin-bottom: 2rem;
    }
  }
}
.prodContainer:hover {
  transform: scale(1.08);
  .productDiv {
    box-shadow: 10px 10px #5c5c5c;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .prodContainer {
    width: 80%;

    .productDiv {
      margin: 0rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      width: 100%;
      height: 200px;
      img {
        width: 50%;
        height: auto;
      }
      .textoRegular {
        margin-bottom: 2rem;
      }
    }
    .emptyContainer {
      margin-bottom: 7rem;
    }
  }
}

.textoH2 {
  text-align: center;
  @include fuenteSemiBold;
}

.textoRegular {
  text-align: center;
  @include fuenteRegular;
  margin: 1.4rem;
}
.textoH2Bold {
  text-align: center;
  @include fuenteBold;
  margin: 1.2rem;
}
.spinner {
  display: flex;
  margin: 0 auto;
}
