.alertText {
  @include fuenteRegular;
  font-size: 1.2em;
  color: red;
  padding-bottom: 1.2em;
  text-align: center;
}
.registerWindow {
  @include formWindow;
  input[type="password"],
  input[type="password"]:focus,
  input[type="text"],
  input[type="password"]:focus {
    margin-bottom: 2rem;
  }
  .registerSubmit {
    @include loginButton("black", "white", 3rem);
    height: 3.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 800px) {
  .genericButton {
    width: 17rem;
  }
  .registerWindow {
    top: 10rem;
    h1 {
      text-align: center;
      font-size: 1.3em;
      width: 99%;
    }
  }
  .pDescrip {
    font-size: 1.1em;
  }
}
@media (max-width: 470px) {
  .registerWindow {
    h1 {
      text-align: center;
      font-size: 1rem;
      width: 13rem;
    }
    .passwordInput,
    .passwordInputError {
      input[type="password"],
      input[type="password"]:focus,
      input[type="text"],
      input[type="email"],
      input[type="email"]:focus,
      input[type="password"]:focus {
        width: 11rem;
      }
    }
    .alertText {
      font-size: 1rem;
      width: 60%;
    }
    .registerSubmit {
      width: 13rem;
      font-size: 1.2rem;
    }
  }
}
