@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

//Boton usado de codepen:https://codepen.io/robeen/pen/PbvJjy
@mixin infoPanel {
  .infoPanel {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: red;
    p {
      width: 78%;
      position: inherit;
      padding-right: 1rem;
      font-size: 0.9rem;
      @include fuenteBold();
      /* padding-left: 4rem; */
      color: white;
    }
    img {
      width: 2rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
@mixin inputTypeSubmit {
  .typeSubmit {
    background-color: green;
    border-radius: 10px;
    transition: 0.4s;
    color: white;
    border: 1px solid green;
    @include fuenteSemiBold;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
  }
  .typeSubmit:hover {
    transform: scale(1.07);
  }
  .putDataSubmit {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 3.2rem;
    background-color: #242424;
    color: white;

    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s;
    @include fuenteSemiBold;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@mixin updatePasswordForm {
  .updateData {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    h2,
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="radio"] {
      padding: 1.2rem;
    }

    .labelUpdateData {
      margin: 1rem;
      background-color: #f9f9f9;
      border: none;
      max-width: 100%;
      /* height: 1rem; */
      display: flex;
      padding-top: 1.7rem;
      border-bottom: 3px solid #c8c8c8;
      transition: 0.07s;
      justify-content: center;
      font-size: 0.9rem;
      border-radius: 4px;
      img {
        width: 3rem;
        position: relative;
        right: 0rem;
        height: 3rem;
        transition: 0.4s;
        bottom: 0rem;
        opacity: 1;
      }

      p {
        position: relative;
        bottom: 1.6em;
        left: -16.5em;
        transition: 0.3s;
        font-size: 0.8rem;
      }
      h1 {
        position: relative;
        bottom: 7em;
        left: 1.5em;
        height: 0.1rem;
        font-size: 0.8rem;
      }
      .inputUpdateData {
        margin: 0.4rem;
        background-color: #f9f9f9;
        border: none;
        z-index: 0;
        /* height: 1rem; */
        /* padding-top: 1.7rem; */
        /* border-bottom: 1px solid #c8c8c8; */
        transition: 0.07s;
        font-size: 0.9rem;
        /* border-radius: 4px;*/
      }

      .inputUpdateData:not(:focus):invalid ~ p {
        bottom: -1rem;
        width: 100%;
        left: -8rem;
        /* right: 18.2rem; */
        font-size: 1.1rem;
        z-index: 1;
      }

      .inputUpdateData:not(:focus):invalid ~ img {
        opacity: 0;
      }
      .inputUpdateData:invalid:focus {
        border-bottom: 2px solid red;
      }
      .inputUpdateData:invalid:focus ~ div {
        width: 100%;
      }
      .inputUpdateData:invalid:focus-within .labelUpdateData {
        border-bottom: 2px solid red;
      }

      .inputUpdateData:focus {
        outline: none;
        border-bottom: 2px solid green;
      }
    }

    .genderDiv {
      label,
      input[type="radio"] {
        padding: 0.3rem;
      }
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .updateSec2 {
      //align-items: flex-end;
      input[type="date"] {
        padding-left: 5rem;
      }
    }
    div {
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: center;
      /* align-items: baseline; */
      flex-direction: column;
      .labelUpdateData {
      }
    }
  }
}

@mixin updateDataForm {
  .updateData {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    h2,
    input[type="text"],
    input[type="date"],
    input[type="password"],
    input[type="email"],
    input[type="radio"] {
      padding: 1.2rem;
    }
    .labelUpdateDataError {
      p {
        position: relative;
        bottom: 5.3em;
        left: 1.5em;
        transition: 0.3s;
        font-size: 0.8rem;
        color: red;
      }
      h1 {
        position: relative;
        bottom: 7em;
        left: 1.5em;
        height: 0.1rem;
        font-size: 0.8rem;
        color: red;
      }
      .inputUpdateData {
        margin: 0.4rem;
        background-color: #f9f9f9;
        border: none;
        /* height: 1rem; */
        padding-top: 1.7rem;
        border-bottom: 2px solid red;
        transition: 0.07s;
        font-size: 0.9rem;
        border-radius: 4px;
      }
      .inputUpdateData:not(:focus):invalid ~ p {
        bottom: 3rem;
        left: 1.2rem;
        font-size: 1rem;
      }
      .inputUpdateData:invalid:focus {
        border-bottom: 2px solid red;
      }

      .inputUpdateData:focus {
        outline: none;
        border-bottom: 2px solid red;
      }
    }

    .labelUpdateData {
      p {
        position: relative;
        bottom: 5.3em;
        left: 1.5em;
        transition: 0.3s;
        font-size: 0.8rem;
      }
      h1 {
        position: relative;
        bottom: 7em;
        left: 1.5em;
        height: 0.1rem;
        font-size: 0.8rem;
      }
      .inputUpdateDataError {
        margin: 0.4rem;
        background-color: #f9f9f9;
        border: none;
        /* height: 1rem; */
        padding-top: 1.7rem;
        border-bottom: 1px solid #c8c8c8;
        transition: 0.07s;
        font-size: 0.9rem;
        border-radius: 4px;
        border-bottom: 2px solid red;
      }
      .inputUpdateDataError ~ p {
        color: red;
      }
      .inputUpdateDataError:focus ~ p {
        position: relative;
        bottom: 5.3em;
        left: 1.5em;
        transition: 0.3s;
        font-size: 0.8rem;
      }
      .inputUpdateDataError:focus {
        outline: none;
      }

      .inputUpdateDataError:not(:focus):invalid ~ p {
        bottom: 3rem;
        left: 1.2rem;
        font-size: 1rem;
      }
      .inputUpdateDataError:valid ~ p {
        position: relative;
        bottom: 5.3em;
        left: 1.5em;
        transition: 0.3s;
        font-size: 0.8rem;
      }
      .inputUpdateData {
        margin: 0.4rem;
        background-color: #f9f9f9;
        border: none;
        /* height: 1rem; */
        padding-top: 1.7rem;
        border-bottom: 1px solid #c8c8c8;
        transition: 0.07s;
        font-size: 0.9rem;
        border-radius: 4px;
      }
      .inputUpdateData:not(:focus):invalid ~ p {
        bottom: 3rem;
        left: 1.2rem;
        font-size: 1rem;
      }
      .inputUpdateData:invalid:focus {
        border-bottom: 2px solid red;
      }

      .inputUpdateData:focus {
        outline: none;
        border-bottom: 2px solid green;
      }
    }

    .genderDiv {
      label,
      input[type="radio"] {
        padding: 0.3rem;
      }
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .updateSec2 {
      //align-items: flex-end;
      input[type="date"] {
        padding-left: 5rem;
      }
    }
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      .labelUpdateData {
      }
    }
    @include infoPanel;
  }
}

@mixin likeButton {
  svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;
    #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    #main-circ {
      transform-origin: 29.5px 29.5px;
    }
  }

  #checkbox {
    display: none;
  }

  #checkbox:checked + label svg {
    #heart {
      transform: scale(0.2);
      fill: #e2264d;
      animation: animateHeart 0.3s linear forwards 0.25s;
    }
    #main-circ {
      transition: all 2s;
      animation: animateCircle 0.3s linear forwards;
      opacity: 1;
    }
    #grp1 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(0, -30px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(10px, -50px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp2 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, -15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(60px, -15px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp3 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, 0px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(60px, 10px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp4 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(30px, 15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(40px, 50px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp5 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(-10px, 20px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-60px, 30px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp6 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(-30px, 0px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-60px, -5px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp7 {
      opacity: 1;
      transition: 0.1s all 0.3s;
      #oval1 {
        transform: scale(0) translate(-30px, -15px);
        transform-origin: 0 0 0;
        transition: 0.5s transform 0.3s;
      }
      #oval2 {
        transform: scale(0) translate(-55px, -30px);
        transform-origin: 0 0 0;
        transition: 1.5s transform 0.3s;
      }
    }
    #grp2 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp3 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp4 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp5 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp6 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #grp7 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
  }

  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #dd4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #d46abf;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #cc8ef5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0;
    }
  }

  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}

@mixin flexInputDpNone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  justify-content: center;
  div {
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .colorDiv {
    width: 80%;
  }
  input {
    display: none;
  }
}

@mixin inputPwd {
  display: flex;
  align-items: flex-end;
  align-items: center;
  width: 18rem;

  input[type="password"],
  input[type="password"]:focus,
  input[type="text"],
  input[type="email"],
  input[type="email"]:focus,
  input[type="password"]:focus {
    position: relative;
    height: 2.5rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 2rem;
    @include fuenteSemiBold;
    font-size: 1rem;
    align-items: flex-end;
  }
  img {
    width: 2.1rem;
    height: 2rem;
    position: relative;
    right: 3rem;
  }
}
@mixin fuenteRegular {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
}

@mixin dropdownList {
  label.dropdown--label {
    position: relative;
    height: 45px;
    width: 300px;
    line-height: 46px;
    display: inline-block;

    .dropdown--checkbox {
      position: absolute;
      left: -2000000px;
    }

    .dropdown--text {
      cursor: pointer;
      border: 2px solid #dee5ff;
      border-radius: 5px;
      box-shadow: 0 2px 4px #dee5ff;
      display: block;
      width: 100%;
      background: #fff;
      color: #262e47;
      font-weight: bold;
      padding: 0 20px;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .dropdown--arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #616d90;
        border-bottom: 2px solid #616d90;
        margin-left: auto;
        transform: rotate(45deg);
        transition: all ease-in 0.3s;
        position: relative;
        top: -2px;
      }
    }

    .dropdown--list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      top: 50%;
      transition: all ease-out 0.3s;
      box-shadow: 0px 14px 43px 0px #dee5ff;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      max-height: 200px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        backrgound: #fff;
        border-left: 1px solid #dee5ff;
      }

      &::-webkit-scrollbar-thumb {
        background: #dee5ff;
        border-radius: 5px;
        &:hover {
          background: #cfd8f7;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        li {
          p {
            white-space: nowrap;
            text-decoration: none;
            color: #333a52;
            display: block;
            padding: 5px 20px;
          }
          p:hover {
            background: #f7f9fd;
          }
        }
      }
    }

    .dropdown--checkbox:checked ~ .dropdown--list {
      top: 120%;
      opacity: 1;
      visibility: visible;
      transition: all ease-in 0.3s;
    }

    .dropdown--checkbox:checked ~ .dropdown--text {
      .dropdown--arrow {
        transform: rotate(-135deg);
        top: 5px;
      }
    }
  }
}

@mixin formWindow {
  display: flex;
  position: relative;
  top: 18rem;
  flex-direction: column;
  align-items: center;
  .underLineTxt {
    margin-top: 2.5rem;
    text-decoration: underline;
    @include fuenteRegular;
    font-size: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
  h1 {
    @include fuenteBold;
    font-size: 2.3rem;
    color: black;
    padding-bottom: 2rem;
  }
  .passwordInput {
    display: flex;
    flex-direction: column;
    @include inputPwd();
  }
  .passwordInputFlex {
    @include inputPwd();
  }
  .passwordInputError {
    display: flex;
    flex-direction: column;
    @include inputPwd();
    input[type="password"],
    input[type="password"]:focus,
    input[type="text"],
    input[type="password"]:focus {
      border: 1px solid red;
    }
  }
}

@mixin fuenteSemiBold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
}

@mixin fuenteBold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
}

@mixin loginButton($color, $colorLetra, $marginTop) {
  margin-top: #{$marginTop};
  width: 18rem;
  border: 1px solid #{$color};
  border-radius: 10px;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: #{$color};
  color: #{$colorLetra};
  font-size: 1.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;

  @include fuenteSemiBold;
}

@mixin estiloMenus($id, $id2, $id3) {
  .areaClick {
    z-index: auto;
    height: 60%;
    width: 9%;
    position: absolute;
    left: 1vw;
    top: 2vw;
    cursor: pointer;
  }

  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: $secondColor;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: $secondColor;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .menu__box {
    left: 0 !important;
    .greyContainer {
      left: 20% !important;
    }
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id2} {
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.8px;
    border-radius: 25px;
    background-color: var(--baseColor, $baseColor);
    transition-duration: 0.25s;
  }

  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    //width: 300px;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: $baseColor;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    .greyContainer {
      left: auto;
      background-color: $secondColor;
      position: fixed;
      left: -100%;
      width: 80%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
}
@mixin estiloMenuBusqueda($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .TopMenu__box {
    top: 0rem !important;
    left: 0rem;
    padding: 0rem;
    .greyContainer {
      top: 73% !important;
      left: 0rem;
      width: 100%;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -160%;
    //width: 300px;
    width: 100%;
    height: 73%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.1s;
    opacity: 1;

    .greyContainer {
      left: auto;
      background-color: rgb(8 8 8);
      position: fixed;
      //Posicion de la que parte el fondo transparente, este caso cambiamos a arriba hacia abajo
      top: -100%;
      left: -100%;
      width: 80%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
}

@mixin headerIconHover {
  .headerHoverLabel {
    transition: transform 0.2s;
  }

  .headerHoverLabel:hover {
    transform: scale(1.12);
    cursor: pointer;
  }
}

@mixin estiloMenuDerecho($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .RightMenu__box {
    right: 0rem;
    padding: 0rem;
    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 75%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
  @media (min-width: 1301px) and (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
  @media (min-width: 500px) and (max-width: 1300px) {
    #{$id3} {
      width: 46%;
      .greyContainer {
        width: 54%;
      }
    }
  }
}
@mixin popUpModal($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .popMenu__box {
    right: 0rem;
    padding: 0rem;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 61%;
    top: 40%;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 1;
  }
  #{$id}:checked ~ .greyContainer {
    left: 0% !important;
  }
  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  .greyContainer {
    left: auto;
    background-color: black;
    position: fixed;
    left: -100%;
    width: 75%;
    height: 300rem;
    bottom: 0%;
    opacity: 0.6;
    transition-duration: 0.25s;
  }
  #{$id3} {
    img {
      width: 3rem;
      padding-bottom: 4rem;
    }
    .hoverBox {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 3rem;
      height: 3rem;
      background-color: #e1e1e1;
      border: 1px solid #e1e1e1;
      position: absolute;
      border-radius: 100%;
      right: 1rem;
      top: 1rem;
      transition: transform 0.2s;
      cursor: pointer;
      .closeModal {
        padding: 0rem;
        width: 1.4rem;
      }
    }
    .hoverBox:hover {
      transform: scale(1.1);
    }

    p {
      @include fuenteSemiBold();
      font-size: 1.3rem;
      text-align: center;
    }
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 32%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}

@mixin estiloMenuFiltro($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .filterMenu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .filterMenu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .filterMenu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .filterMenu__box {
    right: 0rem;
    padding: 0rem;
    border-left: 1px solid #bfbfbf;

    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    overflow: scroll;
    //Desaparecer scroll cont en ie edge y ff
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 75%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0;
      transition-duration: 0.25s;
    }
  }
  //Para chrome
  #{$id3}::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}

@mixin estiloMenuCompra($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .bottomMenu__box {
    right: 0rem;
    bottom: 0rem;
    padding: 0rem;
    border-left: 1px solid #bfbfbf;

    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    bottom: -1000%;
    //right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    overflow: scroll;
    //Desaparecer scroll cont en ie edge y ff
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 75%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0;
      transition-duration: 0.25s;
    }
  }
  //Para chrome
  #{$id3}::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@mixin carritoMenuDerecho($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .CarritoMenu__box {
    right: 0rem;
    padding: 0rem;
    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    overflow: scroll;
    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 65%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}
