@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

@mixin flexInputDpNone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  input {
    display: none;
  }
}

@mixin inputPwd {
  display: flex;
  align-items: flex-end;
  align-items: center;
  width: 18rem;

  input[type="password"],
  input[type="password"]:focus,
  input[type="text"],
  input[type="password"]:focus {
    position: relative;
    height: 2.5rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 2rem;
    @include fuenteSemiBold;
    font-size: 1rem;
    align-items: flex-end;
  }
  img {
    width: 2.1rem;
    height: 2rem;
    position: relative;
    right: 3rem;
  }
}
@mixin fuenteRegular {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
}

@mixin dropdownList {
  label.dropdown--label {
    position: relative;
    height: 45px;
    width: 300px;
    line-height: 46px;
    display: inline-block;

    .dropdown--checkbox {
      position: absolute;
      left: -2000000px;
    }

    .dropdown--text {
      cursor: pointer;
      border: 2px solid #dee5ff;
      border-radius: 5px;
      box-shadow: 0 2px 4px #dee5ff;
      display: block;
      width: 100%;
      background: #fff;
      color: #262e47;
      font-weight: bold;
      padding: 0 20px;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .dropdown--arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #616d90;
        border-bottom: 2px solid #616d90;
        margin-left: auto;
        transform: rotate(45deg);
        transition: all ease-in 0.3s;
        position: relative;
        top: -2px;
      }
    }

    .dropdown--list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      top: 50%;
      transition: all ease-out 0.3s;
      box-shadow: 0px 14px 43px 0px #dee5ff;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      max-height: 200px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        backrgound: #fff;
        border-left: 1px solid #dee5ff;
      }

      &::-webkit-scrollbar-thumb {
        background: #dee5ff;
        border-radius: 5px;
        &:hover {
          background: #cfd8f7;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        li {
          p {
            white-space: nowrap;
            text-decoration: none;
            color: #333a52;
            display: block;
            padding: 5px 20px;
          }
          p:hover {
            background: #f7f9fd;
          }
        }
      }
    }

    .dropdown--checkbox:checked ~ .dropdown--list {
      top: 120%;
      opacity: 1;
      visibility: visible;
      transition: all ease-in 0.3s;
    }

    .dropdown--checkbox:checked ~ .dropdown--text {
      .dropdown--arrow {
        transform: rotate(-135deg);
        top: 5px;
      }
    }
  }
}

@mixin formWindow {
  display: flex;
  position: relative;
  top: 18rem;
  flex-direction: column;
  align-items: center;
  .underLineTxt {
    margin-top: 2.5rem;
    text-decoration: underline;
    @include fuenteRegular;
    font-size: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
  h1 {
    @include fuenteBold;
    font-size: 2.3rem;
    color: black;
    padding-bottom: 2rem;
  }
  .passwordInput {
    display: flex;
    flex-direction: column;
    @include inputPwd();
  }
  .passwordInputFlex {
    @include inputPwd();
  }
  .passwordInputError {
    display: flex;
    flex-direction: column;
    @include inputPwd();
    input[type="password"],
    input[type="password"]:focus,
    input[type="text"],
    input[type="password"]:focus {
      border: 1px solid red;
    }
  }
}

@mixin fuenteSemiBold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
}

@mixin fuenteBold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
}

@mixin loginButton($color, $colorLetra, $marginTop) {
  margin-top: #{$marginTop};
  width: 18rem;
  border: 1px solid #{$color};
  border-radius: 10px;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: #{$color};
  color: #{$colorLetra};
  font-size: 1.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;

  @include fuenteSemiBold;
}

@mixin estiloMenus($id, $id2, $id3) {
  .areaClick {
    z-index: auto;
    height: 60%;
    width: 9%;
    position: absolute;
    left: 1vw;
    top: 2vw;
    cursor: pointer;
  }

  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: $secondColor;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: $secondColor;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .menu__box {
    left: 0 !important;
    .greyContainer {
      left: 20% !important;
    }
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id2} {
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--baseColor, $baseColor);
    transition-duration: 0.25s;
  }

  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    //width: 300px;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: $baseColor;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    .greyContainer {
      left: auto;
      background-color: $secondColor;
      position: fixed;
      left: -100%;
      width: 80%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
}
@mixin estiloMenuBusqueda($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .TopMenu__box {
    top: 0rem !important;
    left: 0rem;
    padding: 0rem;
    .greyContainer {
      top: 73% !important;
      left: 0rem;
      width: 100%;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -160%;
    //width: 300px;
    width: 100%;
    height: 73%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.1s;
    opacity: 1;

    .greyContainer {
      left: auto;
      background-color: rgb(8 8 8);
      position: fixed;
      //Posicion de la que parte el fondo transparente, este caso cambiamos a arriba hacia abajo
      top: -100%;
      left: -100%;
      width: 80%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
}

@mixin estiloMenuDerecho($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .RightMenu__box {
    right: 0rem;
    padding: 0rem;
    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 75%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}
@mixin popUpModal($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .popMenu__box {
    right: 0rem;
    padding: 0rem;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 61%;
    top: 40%;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 1;
  }
  #{$id}:checked ~ .greyContainer {
    left: 0% !important;
  }
  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  .greyContainer {
    left: auto;
    background-color: black;
    position: fixed;
    left: -100%;
    width: 75%;
    height: 300rem;
    bottom: 0%;
    opacity: 0.6;
    transition-duration: 0.25s;
  }
  #{$id3} {
    img {
      width: 3rem;
      padding-bottom: 4rem;
    }
    .hoverBox {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 3rem;
      height: 3rem;
      background-color: #e1e1e1;
      border: 1px solid #e1e1e1;
      position: absolute;
      border-radius: 100%;
      right: 1rem;
      top: 1rem;
      transition: transform 0.2s;
      cursor: pointer;
      .closeModal {
        padding: 0rem;
        width: 1.4rem;
      }
    }
    .hoverBox:hover {
      transform: scale(1.1);
    }

    p {
      @include fuenteSemiBold();
      font-size: 1.3rem;
      text-align: center;
    }
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 32%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}

@mixin estiloMenuFiltro($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .filterMenu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .filterMenu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .filterMenu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .filterMenu__box {
    right: 0rem;
    padding: 0rem;
    border-left: 1px solid #bfbfbf;

    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    overflow: scroll;
    //Desaparecer scroll cont en ie edge y ff
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 75%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
  //Para chrome
  #{$id3}::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}

@mixin carritoMenuDerecho($id, $id2, $id3) {
  #{$id} {
    z-index: 1;
    width: 1rem;
    position: relative;
    right: -1rem;
    opacity: 0;
  }
  #{$id}:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #{$id}:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #{$id}:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
    .greyContainer {
      visibility: visible;
    }
  }
  #{$id}:checked ~ .CarritoMenu__box {
    right: 0rem;
    padding: 0rem;
    .greyContainer {
      left: 0% !important;
    }
  }

  #{$id2} {
    position: fixed;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #{$id2} > span,
  #{$id2} > span::before,
  #{$id2} > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  #{$id2} > span::before {
    content: "";
    top: -8px;
  }
  #{$id2} > span::after {
    content: "";
    top: 8px;
  }
  #{$id3} {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    opacity: 1;
    overflow: scroll;
    .greyContainer {
      left: auto;
      background-color: black;
      position: fixed;
      left: -100%;
      width: 70%;
      height: 300rem;
      z-index: 1;
      bottom: 0%;
      opacity: 0.6;
      transition-duration: 0.25s;
    }
  }
  @media (max-width: 1400px) {
    #{$id3} {
      width: 40%;
      .greyContainer {
        width: 60%;
      }
    }
  }
}
